<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<p> <strong> Success Conditions: </strong>
  <ul>
    <% for succ_con in @project.success_conditions %>
    <li> <%= succ_con.description %> </li>
    <% end %>
  </ul>
</p>
<p> <strong> Tasks: </strong>
  <ul>
    <% @tasks.each do |task| %>
    <%=content_tag("li", task.description, class: task.status)%>
    <% end %>
  </ul>
</p>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
